/* !rest */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  font-family: 'Oswald', sans-serif;
  background-color: #f2f2f2;
}

code {
  font-family: 'Oswald', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(fit-content, auto);
  grid-auto-flow: dense;
  grid-gap: 3em;
}

.card {
  /* min-height: 100px; */
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.favCart {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
}

.favCart * {
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  background: rgba(228, 226, 226, 0.568);
  padding: 0.4em;
  aspect-ratio: 1;
}
.card img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.txt {
  padding: 2em 16px;
}

.container {
  padding: 2em;
  margin: 0 auto;
}

.card img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  display: block;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 4em; */
  padding-right: 4em;
}

.header {
  position: fixed;
  width: 100vw;
  background: rgb(147, 147, 247);
  z-index: 100000;
}
.main {
  padding-top: 8em;
}

/* ! CART Items */

.infoWrap {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
.cartSection {
  display: table-cell;

  vertical-align: middle;
}

.cartSection .itemNumber {
  font-size: 0.75em;
  color: #777;
  margin-bottom: 0.5em;
}

.cartSection h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.cartSection p {
  display: inline-block;
  font-size: 0.85em;

  color: #777777;
}

.itemImg {
  width: 4em;

  float: left;
}
.cartSection .qtyWrap,
.cartSection .prodTotal {
  text-align: center;
}
.cartSection .qtyWrap p,
.cartSection .prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}

.itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.remove {
  color: #ffffff;
  background: #e0e0e0;
  font-weight: bold;
  font-size: 0.75em;
  padding: 0.5em;
  display: grid;
  aspect-ratio: 1;
  place-items: center;
  border-radius: 50%;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 5 breakpoints

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
